{# set show_footer = true #}
{% set show_navbar = false %}
{# set body_class = '' #}
{% extends 'master.twig' %}
{% block body %}
  {% include "ingenia/index/header.twig" %}
  <br>
<div class="hero is-link is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="logo-header image is-centered" src="./assets/img/trophy.svg" style="width:100px; margin-bottom:25px;">
      <h1 class="title is-size-2-desktop is-size-3-touch is-600">¡Proyectos seleccionados!</h1>
      <h1 class="subtitle is-5 is-size-6-touch is-marginless">La provincia se transforma con las ideas de miles de jóvenes.</h1>
      <p class="">
        <a class="has-text-warning is-underlined is-800" href="https://www.santafe.gob.ar/index.php/web/content/download/253330/1332211/file/Ingenia2019_EquiposSeleccionados.pdf">Descargá el listado</a>
        de los proyectos seleccionados de la 10ma edición de #Ingenia!</p>
          <hr>
      {% if subject.id %}
        <h1 class="title is-3 has-text-centered">
          ¡Hola
          {{subject.name}}!
        </h1>
      {% else %}
        <div class="buttons is-centered">
          <a class="button is-medium is-white" href="{{path_for('showLogin')}}">
            <i class="em em-smile"></i>&nbsp; Iniciá sesión
          </a>
          <a class="button is-medium is-white is-outlined" href="{{path_for('showLogin')}}">
            <i class="em em-muscle"></i>&nbsp; Bancá tus proyectos favoritos
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
  <div class="section">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Proyectos</p>
            <p class="title">+2127</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Jovenes participando</p>
            <p class="title">+10880</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Visitas</p>
            <p class="title">+1143250</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Votos bancando</p>
            <p class="title"></p>
            <p class="title">{{options()['stat-votes']}}</p>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Comentarios</p>
          <p class="title">{{options()['stat-comments']}}</p>
        </div>
      </div>
    </nav>
      <hr>
      <a href="/catalogo">
      <div class="notification is-warning">
        <i class="fas fa-trophy"></i>
        ¡Conocé los proyectos seleccionados en nuestro catálogo de proyectos!
      </div>
    </a>
  </div>
</div>
<div class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered has-text-black is-700 has-text-centered">¡Proyectos Seleccionados!</h1>
      {% if date() > date(options()['deadline']) %}
        <h1 class="subtitle has-text-centered has-text-black is-5">¡Informate, bancalos, descubrí sus grandes ideas y acompañalos!</h1>
        <project-carousel-small :only-one="false" :selected="true" get-projects-url="{{path_for('lisPro')}}">
          <div class="notification has-text-centered">
            <i class="fas fa-cog fa-spin fa-lg"></i>
            Cargando...
          </div>
        </project-carousel-small>
      {% else %}
        <h1 class="subtitle has-text-centered has-text-black is-5">¡Informate, bancalos, descubrí grandes ideas y acompañalos!</h1>
        <project-carousel-small get-projects-url="{{path_for('lisPro20Random')}}">
          <div class="notification has-text-centered">
            <i class="fas fa-cog fa-spin fa-lg"></i>
            Cargando...
          </div>
        </project-carousel-small>
      {% endif %}
      <br>
      <p class="has-text-centered">
        <a class=" button is-medium is-black" href="/proyectos">Visitá el catálogo</a>
      </p>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <a href="/historias">
      <img class="image is-centered" src="./assets/img/historia.svg" style="width:530px;">
    </a>
    <br>
    <div class="has-text-centered">
      <h1 class="title is-size-3-desktop is-size-4-touch">¡Publicá las historias de tus proyectos!</h1>
      <h1 class="subtitle is-5 is-size-6-touch">¡Mostrales a todos los momentos de gloria de tu proyecto!</h1>
      {% if showCreateStory == true %}
        <a href="{{path_for('showNuevaHistoria',{'gro': groupId})}}" class="button is-link is-medium is-400">
          <i class="fas fa-plus fa-fw"></i>&nbsp;Crea una historia</a>
        <br>
        <br>
      {% endif %}
      <br>
      <show-stories :limit="4"></show-stories>
    </div>
  </div>
</div>
<section class="section">
  <div class="container has-text-centered">
    <br>
    <br>
    <br>
    <img class="image is-hidden-touch" src="{{asset('img/slogan3-dark.svg')}}" style="height: 100px; margin: 0 auto;">
    <img class="image is-hidden-desktop" src="{{asset('img/slogan4-dark.svg')}}" style="width: 250px; margin: 0 auto;">
    <br>
    <br>
  </div>
</section>{% endblock %}
